.project_section {
    background-image:url("../../images/main_bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 5px;
    width: 100%;
    display: block;
    padding: 30px;
    margin-left: auto;
    margin-right: auto;
}

.row{
    width: 100%;
}

.card>.card-body>div>.btn{
    margin-left: 6% !important;
}