.title {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Times New Roman';
    margin-bottom: 10px;
    text-decoration: underline;
    color: #ffffff;
    margin-bottom: 25px;
}


.content_section {
    width: 94%;
    height: auto;
    margin-left: 2%;
    margin-bottom: 30px;
}

.content_section  .row{
    width: 100%;
}